.width30 {
    width: 30px;
}

.widthfull {
    width: 130px;
}

.width40 {
    width: 40px;
}

.width50 {
    width: 50px;
}


.width60 {
    width: 50px;
}

.widthbig {
    width: 80px;
}

.chart {
    height:400px;
    padding-left: 300px;
    width: 80%;
/*    display:none
    align:right;
    position:right*/
}

.chart-hide {
    height: 0px;
    padding-left: 300px;
    width: 0%;
/*    display:none
    align:right;
    position:right*/
}
